<header id="header">
  <nav>
    <ul class="nav nav-tabs">
      {{#link-to 'weighings' tagName='li' href='false'}}
        {{#link-to 'weighings'}}Weighings{{/link-to}}
      {{/link-to}}
      {{#link-to 'weighing' tagName='li' href='false'}}
        {{#link-to 'weighing'}}Add new Weighing{{/link-to}}
      {{/link-to}}
    </ul>
  </nav>
</header>

<div id="content">
{{outlet}}
</div>
