<header id="header">
  <nav>
    <ul class="nav nav-tabs">
      <li>{{#linkTo "weighings"}}Weighings{{/linkTo}}</li>
      <li>{{#linkTo "weighing"}}Add new Weighing{{/linkTo}}</li>
    </ul>
  </nav>
</header>

<div id="content">
{{outlet}}
</div>
