<header id="header">
  <nav>
    <ul class="nav nav-tabs">
      {{#linkTo 'weighings' tagName='li' href='false'}}
        {{#linkTo 'weighings'}}Weighings{{/linkTo}}
      {{/linkTo}}
      {{#linkTo 'weighing' tagName='li' href='false'}}
        {{#linkTo 'weighing'}}Add new Weighing{{/linkTo}}
      {{/linkTo}}
    </ul>
  </nav>
</header>

<div id="content">
{{outlet}}
</div>
